@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<style>
    .map {
    margin-top:25px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="map">
                <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3507.002920301803!2d77.0797376!3d28.4794587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d192213158aad%3A0xe1fc68b4fe386372!2sMG+Road+Metro+Station!5e0!3m2!1sen!2sin!4v1422738560077" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <p class="m_8"><h1>Lime Tree Hospitality</h1></p>
            <div class="address">
                <p>Block: B, G-1, Pilot Court, Essel Tower,</p>
                <p>Gurgaon 122001, Haryana</p>
                <p>INDIA</p>
                <p>Phone:+91-9555265409 / +0124-2570229 </p>
                <p>Fax: +0124-2570229</p>
                <p>Email: <span>limetreehospitality@live.in / sales@limetreehospitality.in</span></p>
                <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
            </div>
        </div>
    </div>
</div>