@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ui-view="containerOne"></div>

@*<div class="container mainContent">
    <div class="row">
        <div class="col-md-12">
            <div ui-view="containerOne"></div>
        </div>
        <div class="col-md-6">
            <div ui-view="containerTwo"></div>
        </div>
    </div>
    <div ng-view></div>
</div>*@
